@font-face {
  font-family: "GT-America";
  font-weight: normal;
  src: url("https://res.cloudinary.com/daitiebum/raw/upload/v1577448996/fonts/GT-America-Standard-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}
